# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform working directory
.terraform/
.terraform.lock.hcl

# Variable files
*.tfvars

# Crash logs
crash.log
crash.*.log

# Terraform plan output
*.tfplan

# OS junk
.DS_Store
desktop.ini
Thumbs.db
